.ant-btn-primary {
      background-color: #FFE030 !important;
      border-color: #FFE030 !important;
      color: black;
      
}

.ant-btn-primary:hover {
  background-color: #ffec80 !important;
  border-color: #ffec80 !important;
  color: black !important;
}

.ant-btn-primary-active {
  background-color: #FFE030 !important;
  border-color: #FFE030 !important;
  color: black;
}

.ant-btn-danger {
  background-color: rgb(255, 52, 52) !important;
  border-color: rgb(255, 52, 52) !important;
  color: white;
}


.ant-btn-danger:hover {
  background-color: rgb(255, 80, 80) !important;
  border-color: rgb(255, 80, 80) !important;
  color: white;
}


.ant-pagination-item-active {
  border-color: #FFE030 !important;
}

li.ant-pagination-item-active a {
  color: #FFE030 !important;
}

.ant-menu-item-selected {
  background-color: #FFE030 !important; 
 
}

.ant-menu-item-selected span {
  color: black;
  font-weight: 550;
}

.ant-menu-item-active:hover {
  color: #edc900 !important;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




